<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minigames | danbraj</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.min.js"></script>
</head>

<body>

    <h1>Minigames</h1>

    <h2>Game 1</h2>

    <div id="game1">

        <div id="question" :style="{ 'background-color': currColor }"></div>

        <p>Zadanie numer: {{ taskCounter }}</p>

        <p>Czas: {{ timer }}</p>

        <button class="answer" v-for="color in colors" v-bind:data-name="color" v-on:click="answer($event)">{{ color }}</button>

        <p>Liczba poprawnych odpowiedzi: {{ score }}</p>

    </div>

    <h2>Game 2</h2>

    <div id="game2">

        <div class="map">
            <player class="tile">P</player>
            <div class="row" v-for="row in rows">
                <div class="tile cell" v-for="cell in columns">-</div>
            </div>
        </div>

    </div>

    <script src="js/game1.js"></script>
    <script src="js/game2.js"></script>
</body>

</html>