
$min-font-size                  : 18px;
$max-font-size                  : 24px;
$font-family                    : Helvetica, sans-serif;
$prime-font                     : normal 400 #{$min-font-size}/1 $font-family;

$primary-color                  : #444;
$secondary-color                : #efefef;

$nav-bg-color                   : #fff;
$nav-font-color                 : #000;
$nav-link-hover-color           : #1B325F;
$nav-link-focus-color           : #3A89C9;



$game-icon-color                : #1B325F;
$game-icon-hover-color          : #3A89C9;


// old variables
$primary-color  : #3A89C9;
$secondary-color: #9CC4E4;
$normal-font-size: 16px;

$game-block-color: lighten($secondary-color, 10%);

$content-width  : 900px;

$card-width     : 120px;
$card-height    : 160px;
$front-color    : lighten($secondary-color, 15%);
$front-border   : $secondary-color;
$back-color     : $primary-color;
$back-border    : darken($primary-color, 10%);